
  #login .container #login-row #login-column .login-box {
    margin-top: 50px;
    max-width: 600px;
    height: 350px;
    border: 1px solid #9C9C9C;
  }
  #login .container #login-row #login-column .login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column .login-box #login-form #register-link {
    margin-top: -85px;
  }
  .newcss{
    border: 0;
    padding-left: 100px;
  }
  h5{
    padding-top: 14px;
    padding-left: 50px;
  }
 